
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.market-fade {
  background: white;
  transition: all 0.3s ease;
}

.market-fade:hover {
  background: #e0e0e0;
}

.dropdown {
  display: inline-flex;
  line-height: middle;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(138, 138, 138);
}

.error-toast {
  -webkit-text-fill-color: white;
  background-color: rgb(175, 0, 0);
}

.item-image {
  max-width: 100%;
}

#toast-container {
  top: auto !important;
  bottom: 20px; 
  transform: translateX(-50%) translateY(-50%);
}
